html, body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.icon-resource-register {
    margin-left: 15px;
}

.icon-category-sidebar {
    margin-left: 5px;
}

.category-sidebar {
    margin-bottom: 8px;
}

ul.navbar-nav li a {
    text-align: left;
}

/* LIST */

.list-register {
    margin-bottom: 10px;
}

.div-title-category {
    margin-bottom: 10px;
}

.div-title-category h1 {
    margin-bottom: 2px;
!important;
}

li.category-sidebar i, li.category-sidebar a {
    font-size: 20px;
}

.description-category {
    color: #636b6f;
    font-size: 15px;
}

.resource-title {
    font-size: 20px;
    font-weight: bold;
}

.list-labeled {
    font-size: 12px;
}

.list-description {
    margin-top: 10px;
}

.morecontent span {
    display: none;
}

.morelink {
    display: inline;
}

.one-register {
    margin-bottom: 25px;
}

.register-actions {
    margin-top: 10px;
}

.description-category {
    color: #bbb;
}

/* END LIST */

/* FOOTER */
.footer {
    height: 50px;
    margin-top: 100px;
    text-align: center
}

.footer .container {

}

.footer a {
    margin-right: 20px;
}

/* END FOOTER */

.bold {
    font-weight: bold;
}

.green {
    color: green;
}

.gray {
    color: gray;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.yellow {
    color: #E9EC1A;
}

.light-gray {
    color: #636b6f;
}

@media (max-width: 768px) {
    .title-tag {
        font-size: 30px;
    }
}