html, body {
    font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.icon-resource-register {
    margin-left: 15px;
}


.dropdown-menu > li > a.link-format-menu {
    display: inline;
}

ul.navbar-nav li a {
    text-align: left;
}

.format-option-menu {
    padding-left: 40px;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
    padding-left: 5px;
}

.navbar-default {
    background-color: #FFF;
}

.register-now {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-buttons {
    margin-top: 20px;
}

.icon-action-user {
    margin-right: 5px;
}

.icon-action-xs {
    margin-left: 20px;
}

.div-search {
    width: 100%
}

/* LIST */
.navbar-default {
    border-bottom: 1px solid #eee;
}

.list-register {
    margin-bottom: 10px;
}

.icon-register {
    color: #aaa;
}

.div-title-category {
    margin-bottom: 10px;
}

.div-title-category h1 {
    margin-bottom: 2px;
!important;
}

li.category-sidebar i, li.category-sidebar a {
    font-size: 14px;
}

.description-category {
    color: #636b6f;
    font-size: 15px;
}

.resource-title {
    font-size: 20px;
    font-weight: bold;
}

.list-labeled {
    font-size: 12px;
    margin-top: 5px;
}

.list-description {
    margin-top: 10px;
}

.morecontent span {
    display: none;
}

.morelink {
    display: inline;
}

.one-register {
    margin-bottom: 25px;
}

.register-actions {
    margin-top: 10px;
}

.description-category {
    color: #bbb;
}

.row-empty-list {
    margin-top: 30px;
    margin-bottom: 100px;
}

.devoogle-register {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

/* END LIST */

/* SIDEBAR */

.sidebar {
    background-color: #f7f7f7;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.title-sidebar {

    color: #aaa;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-lenft: 10px;
    border-bottom: 1px solid #fff;
    text-shadow: 0 1px 0 #FFF;
    font-size: 20px;
    font-family: "Open Sans Condensed", Helvetica, Arial !important;
    font-weight: bold;
}

.category-sidebar {
    margin-bottom: 8px;
}

.icon-category-sidebar {
    margin-left: 5px;
}

.category {
    margin-bottom: 20px;
}

/* END SIDEBAR */
.info-form {
    color: #8c8c8c;
    font-size: 11px;
}

.add-format-link-in-form {
    display: block;
    float: right;
}

/* FOOTER */
.footer {
    height: 50px;
    margin-top: 100px;
    text-align: center
}

.footer .container {

}

.footer a {
    margin-right: 20px;
}

/* END FOOTER */

.thanks {
    margin-top: 20px;
}

.legal p {
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}

.green {
    color: green;
}

.gray {
    color: gray;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.yellow {
    color: #E9EC1A;
}

.light-gray {
    color: #636b6f;
}

@media (max-width: 768px) {
    .resource-title {
        font-size: 17px;
    }
    .title-tag {
        font-size: 30px;
    }
}